<ion-content>
<div class="grid">
  <div class="grid-child">
    <img class="logo" src="../assets/login/logo.png" alt="logo">
  </div>
  <div class="grid-child">
    <form action="" class="login-form" [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <ion-item lines="none" color="light">
        <ion-input placeholder="Librarian" type="text" name="username" formControlName="user" required >
        </ion-input>
      </ion-item>
      <ion-item lines="none" color="light">
        <ion-input placeholder="Password" type="password" name="username" formControlName="password" required>
        </ion-input>
      </ion-item>
      <div class="text-center">
        <ion-button expand="block" type="submit" color="primary" [disabled]="!loginForm.valid" class="login-button">Login</ion-button>
      </div>
    </form>
  </div>
  <div class="grid-child">
    <p class="version">Mariel Andoy • v0001</p>
  </div>
</div>
</ion-content>