<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none" (click)="scanQr()">
    <ion-label>Scan QR Code</ion-label>
    <ion-icon name="qr-code-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item lines="none" (click)="openCamera()">
    <ion-label>Facial Recognition</ion-label>
    <ion-icon name="scan-outline" slot="start"></ion-icon>
  </ion-item>
  <ion-item lines="none" hidden>
    <input type="file" (change)="scanFace($event)" accept="image/*" #fileButton/>
  </ion-item>
</ion-content>
