<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>Realtime Dashboard</ion-list-header>
    <ion-item>
      <ion-label>Total Books</ion-label>
      <ion-note slot="end" color="primary">{{ total_books }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Borrowed Books</ion-label>
      <ion-note slot="end" color="secondary">{{ total_borrowed }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Total Borrower</ion-label>
      <ion-note slot="end" color="tertiary">{{ total_borrowers }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Total Lost Book</ion-label>
      <ion-note slot="end" color="danger">{{ total_lost }}</ion-note>
    </ion-item>
  </ion-list>
  <!-- <ion-button expand="full" (click)="openCamera()" *ngIf="!cameraActive">
    Open Camera
  </ion-button> -->
</ion-content>
